<%- include('partials/header.ejs') %>

<section  id="create">
    <div class="heading">
        <h1>Create new Tweet</h1>
    </div>
    <div class="inside">
        <form action="/create" method='POST'>
            <input name="title" placeholder="title" type="text">
            <textarea name="body" id="" cols="100" rows="10"></textarea>
            <button type="submit" class="btn">Submit</button>

        </form>
    </div>


</section>




<%- include('partials/footer.ejs') %>
