<%- include('partials/header.ejs') %>

<% results.forEach((result)=>{ %>
    <section id="show">
        <div class="inside">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="contents">
                <div class="title"><%= result.title %></div>
                <p class="description">
                    <%= result.body %>
                </p>


            </div>
        </div>
    </section>
<% }) %>




<%- include('partials/footer.ejs') %>
